<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Farm</title>
</head>

<body>
    <h1>Add a Farm</h1>
    <form action="/farms" method="POST">
        <div class="div">
            <label for="name">Farm name</label>
            <input type="text" name="name" id="name" placeholder="farm name">
        </div>
        <div class="div">
            <label for="name">City</label>
            <input type="text" name="city" id="city" placeholder="farm city">
        </div>
        <div class="div">
            <label for="name">Email</label>
            <input type="email" name="email" id="email" placeholder="email">
        </div>
        <button>Submit</button>
    </form>
    <a href="/products/">Cancel</a>
</body>

</html>